a.out
*.o
libft.a
main_ft_bzero.c
main_ft_memccpy.c
main_ft_memchr.c
main_ft_memcmp.c
main_ft_memcpy.c
main_ft_memmove.c
main_ft_memset.c
main_ft_strchr.c
main_ft_strlcpy.c
main_ft_strncmp.c
main_ft_strnstr.c
main_ft_strrchr.c
main_ft_atoi.c
main_ft_isaplha.c
main_ft_isdigit.c
main_ft_isalnum.c
main_ft_isascii.c
main_ft_isprint.c
main_ft_toupper.c
main_ft_tolower.c
main_ft_calloc.c
main_ft_strdup.c
